<% 
var data = jsonData;
%><!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= data.description %>">
  <title><%= data.title %></title>
</head>
<body>
タイトルは<%= data.title %>
ディスクリプションは<%= data.description %>

クエッションは<%= data.question %>
<% var len = data.type.length %>
<% for (var i = 0; i < len; i++) { %>
<p>回答<%= i + 1 %>:<%= data.type[i]%></p>
<% } %>

</body>
</html>