<% 
var data = jsonData,
	qa_title =  "質問" + data.id;
	qa_question = data.question;
	qa_type = data.type;
	qa_len = data.type.length;

var rootPath = "./";
    qa_count = 20;
	qa_current = Number(data.id);
	qa_remining = 
		qa_current == qa_count
		? "ラスト"
		: qa_count - qa_current + "問";
	qa_back_url = 
		qa_current == 0 
		? null
		: rootPath + (qa_current - 1) + ".html";
	qa_next_url = 
		qa_current == qa_count
		? rootPath + "result.html"
		: rootPath + (qa_current + 1) + ".html";

		

%><!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= data.description %>">
  <title><%= data.title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="../assets/css/common.css">
</head>
<body>
	<section class="st-Header st-qa_header st-qa_container">
		<div class="st-Grid st-Grid-medium">
		  <div class="st-Grid_Item st-Grid_Item-12of12Md">
		    <h1 class="st-qa_title"><%= qa_title %></h1>
		  </div>
		</div>
		<div class="st-Grid st-Grid-medium">
		  <div class="st-Grid_Item st-Grid_Item-12of12Md">
		    <h2 class="st-qa_question"><%= qa_question %></h2>
		  </div>
	</section>

	<section class="st-Wrapper st-qa_body st-qa_container">
		<% for (var i = 0; i < qa_len; i++) { %>

		  			<div class="st-Grid st-Grid-medium">
					<div class="st-Grid_Item st-Grid_Item-8of12Md">
						<p class="st-qa_answer"><%= qa_type[i] %></p>
					</div>
					<div class="st-Grid_Item st-Grid_Item-4of12Md">
						<form method="post" action="example.cgi">
						  	<input type="radio" name="answer<%= qa_current %>" value="answer<%= i %>" id="radio<%= i %>-1">
						  	<label for="radio<%= i %>-1" class="radio">思う</label>
						  	<input type="radio" name="answer<%= qa_current %>" value="answer<%= i %>" id="radio<%= i %>-2">
						  	<label for="radio<%= i %>-2" class="radio"> </label>
						  	<input type="radio" name="answer<%= qa_current %>" value="answer<%= i %>" id="radio<%= i %>-3">
						  	<label for="radio<%= i %>-3" class="radio"> </label>
						  	<input type="radio" name="answer<%= qa_current %>" value="answer<%= i %>" id="radio<%= i %>-4">
						  	<label for="radio<%= i %>-4" class="radio">思わない</label>
			  			</form>
					</div>
				</div>
		<% } %>
	</div>
	</section>
	<section class="st-Footer st-qa_footer st-qa_container">
		<div class="st-Grid st-Grid-medium">
			<div class="st-Grid_Item st-Grid_Item-4of12Md st-qa_footer_link_back">
				<p><a href="<%= qa_back_url %>">前の質問に戻る</a></p>
			</div>
			<div class="st-Grid_Item st-Grid_Item-4of12Md st-qa_footer_number">
				<p>残り<%= qa_remining %>です。</p>
			</div>
			<div class="st-Grid_Item st-Grid_Item-4of12Md st-qa_footer_link_next">
				<p><a href="<%= qa_next_url %>">次の質問へ</a></p>
			</div>
		</div>
		<div class="st-Grid st-Grid-medium">
			<div class="st-Grid_Item st-Grid_Item-12of12Md">
				<ul class=" progress-indicator custom-complex">
				<% for (var i = 1; i < qa_count; i++) { %>

			            <% if ( i <= qa_current) { %>
			            	<li class="completed">
				                <span class="bubble"></span>
				                <i class="fa fa-check-circle"></i>
				            </li>
			            <% } else { %>
			            	<li>
				                <span class="bubble"></span>
				            </li>
			            <% } %>

			        <% } %>
		        </ul>
	        </div>
	        <div class="st-Grid_Item st-Grid_Item-12of12Md">
        		<p><a href="">トップページへ</a></p>
	        </div>
		</div>
	</section>

<script type="text/javascript" src="../assets/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../assets/js/common.js"></script>
</body>
</html>
